@media screen and (max-width: 576px) {
 .dropdown-menu {
    max-height: 70vh !important; /* ارتفاع مناسب للموبايل */
    overflow-y: auto !important; /* تفعيل الاسكرول */
    overflow-x: hidden;  
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  /* تابلت */
}

@media screen and (min-width: 992px) {
  /* لابتوب صغير */
}

@media screen and (min-width: 1200px) {
  /* شاشات كبيرة */
 
  header .container{
    height: 100vh;
  }
  footer .container {
  flex-direction: row;
}
.w-lg-75{
  width: 75%;
}

.shape-2 {
  top: 5%;
}
.position-drop-dowen 
{
  left:15% !important;
  right:10% !important;
     box-shadow: 0px 2px 20px rgb(192, 192, 192);
}
.w-60px{
  width: 60px;
}
.fs-lg-5{
  font-size: 20px;
}

}

@media screen and (min-width: 1400px) {
  /* شاشات ضخمة */

}

